body
{
  line-height: 130%;
  color: black;
  background-color: #FFFBCE;
  margin-right: 3%;
  margin-left: 5%;
  }

/* 本文の文字色 （NN4での不具合対策）*/
div.day, p, dl, th, td, ul, div.version, address
{
  color: black;
  }

h1
{
  font-size: 150%;
  text-decoration: underline;
  text-align: center; 
  }

h2
{
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  }

h3
{
  font-size: 110%;
  text-align: center;
  margin-right: 3%; 
  }

h4
{
  font-size: 100%;
  color: black;
  text-align: center;
  margin-right: 3%; 
  }

h5
{
  text-align: center;
  font-size: 100%;
  line-height: 80%;
  }

/* コード表示 索引部分など */
code
{
  font-size: 100%;
  line-height: 110%;
  white-space:  pre;
  /*font-style: italic;*/
  }

dl
{
  margin-right: 1em;
  margin-left: 1em;
  }

/* 定義リスト */
dt
{
  color: black;
  line-height: 120%;
  }

ul
{
  line-height: 130%;
  }

/* 引用 */
blockquote
{
  color: deeppink;
  }

/* 更新日付けなどの強調 */
em
{
  font-style: italic;
  color: red;
  }

/* リンク */
a:link
{
  text-decoration: none;
  color: blue;
  }

a:hover
{
  POSITION: relative;
  TOP: 1px;
  LEFT: 1px;
  }

a:focus
{
  POSITION: relative;
  TOP: 1px;
  LEFT: 1px;
  }

a:visited
{
  text-decoration: none;
  color: #c00060;
  }

TABLE
{
  margin-left:2%;
  margin-right:2%;
  padding: 0em 1.5em 0em 1.5em;
  line-height: 120%;
  }

/* キーバインド */
kbd
{
  font-size: 100%;
  color: red;
  /*        font-style: italic;*/
  }

div.tlevel1
{
  font: bold large/130%;
  text-align: left;
  margin-top: 2em;
  border-width: 0.1em 0.1em 0.1em 0.1em;
  border-style: solid solid;
  border-color: gray;
/*  padding: 0.4em 0;*/
  }

div.tlevel2
{
  font-size: 110%;
  line-height:130%;
  border-width: 0 0 0.1em 0;
  border-style: solid none;
  border-color: white;
  text-align: gray;
/*  margin-top: 2em;
  border-width: 0.1em 0.1em 0.1em 0.1em;
  border-style: solid solid;
  border-color: white;*/
/*  padding: 0.4em 0;*/
  }

div.tlevel3
{
  font-size: 110%;
  line-height:140%;
  }

div.tlevel4
{
  font-size: 110%;
  line-height:140%;
  }
