/* Meadow memo用 */
/* 検索バー */
#searchbar{
clear:left;
margin:0.5em 0px 0.5em 0px;
padding:0.2em 2em 0.2em 0px;
text-align:right;

/*background-color:#003366;
color:#FFFFFF;*/
}
div.topinfo
{
/*  border-bottom: 1px dotted #888;*/
  border-style: dotted;
/*  border-left: none;*/
  border-width: 1px 1px 1px 1px;
  padding: 0.3em 0.2em 0.1em 0.2em;
  margin: 0em
  font-size: 90%;
  }

/* 画面サンプル */
div.meadow
{
  margin-right: 3%;
  margin-left: 3%;
  font-size: 90%;
  line-height: 120%;
  color: #c1cdcd;
  background-color: black;
  margin-right: 3%;
  margin-left: 3%;
  padding: 0em 1.5em 0em 1.5em;
  }

/* lisp コード */
table td.example
{
  border: 1px #1C79C6 solid; /* 枠線（太さ・色・スタイル） */ 
  padding: 10px; /* ボックス内の余白 */
  font-size: 90%;
/*  color: #c1cdcd;
  background-color: black;*/
  color: black;
  background-color: white;
  }

div.modeline
{
  font-size: 100%;
  color: #87ceeb;
  background-color: #1a1a1a;
  }

/* @comm */
div.comment
{
  text-decoration: underline;
  font-weight: bold;
  margin-left: 2%;
}

/* @dif の部分*/
div.dif
{
  font-size: 120%;
  font-weight: bold;
  margin-left: 5%;
  color: red;
}

/* @cite での引用 */
div.cite
{
  color: deeppink;
  /*   background-color: #313142;*/
  /*  margin-right: 6%; 
  margin-left: 8%; */
  font-style: italic;
  /*   background-repeat: repeat-y*/
  }

/* フッター */
div.footer
{
  font-size: 80%;
  }

/* goto.cgi のURLなど */
div.info
{
  font-size: 80%;
  margin-right: 3%;
  margin-left: 20%;
  text-align: right;
  }

div.elispindex
{
  font-size: 90%;
  /*margin-left: 20%;*/
  }
