@charset "UTF-8";
/* 全般統一書式 */
*
{
  margin:0;
  padding:0;
  font-size:100%;
  font-weight:400;
  font-style:normal;
  text-align:left;
}

body
{
  margin-left:1%;
  margin-right:1%;
  line-height:140%;
  background-color:#000;
  color:#ccc;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:100% 100%;
  text-align:center;
  /*margin:0;*/
  padding:0;
  }

a
{
  text-decoration:underline;
  color:#f90;
  }
a:link
{
/*  color:#f90;*/
  color:Skyblue;
  }
a:visited
{
  color:#c70;
/*  color:pink;*/
  }
a:hover
{
  POSITION: relative;
  TOP: 1px;
  LEFT: 1px;
  color:#ccf;
  }

a:focus
{
  POSITION: relative;
  TOP: 1px;
  LEFT: 1px;
  color:#ccf;
  }
a img
{
  border:0 none;
  }
.header2, .footer
{
  font-size:80%;
  }
.allContents
{
  width:44em;
  max-width:80%;
  margin:1em auto;
  padding:0 2em;
  }

.header2
{
  padding:0.3em;
  margin:0 45% 3em 0;
  border-bottom:double #999 4px;
  border-right:solid #000 5em;
  }
.header2 a
{
  font-size:110%;
  }
.footer
{
  width:auto;
/*  margin:5em 0 0 45%;*/
  padding:0.3em;
  text-align:right;
  border-top:double #999 4px;
  border-left:solid #000 5em;
  }
.footer *
{
  text-align:right;
  }
#linkReturn{
             font-size:150%;
             }
#indexlist
{
  font-size:80%;
  margin-left:4em;
  }

h1
{
  line-height:0.9;
  padding:0.3em;
  font-size:250%;
  color:#ddd;
  position:relative;
  /*left:-1em;*/
  font-weight:900;
  /*border-top :solid 100px #666;
     border-left:solid 1px #666;*/
  }
h1:first-letter
{
  font-size:200%;
  color:#fff;
  /*margin-right:-0.2em;*/
  }
h2
{
  line-height:1;
  font-size:160%;
  display:list-item;
  margin:1em 0 0 0;
  border-bottom:0.3em #ccc solid;
  position:relative;
  left:1em;
  background:#000;
  font-weight:800;
  line-height:1;
  }
h3
{
  line-height:1;
  font-size:150%;
  padding:1em 0 1em 30px;
  position:relative;
/*  top:-1.5em;*/
  left:-1em;
/*  margin:0 0 -1.5em 0;*/
  font-weight:800;
  }
h4
{
  line-height:1;
  font-size:140%;
  padding:0 0 0 30px;
  font-weight:700;
  }
h5
{
  line-height:1;
  font-size:130%;
  display:list-item;
  list-style-position:inside;
  line-height:1;
  }
h6
{
  line-height:1;
  font-size:120%;
  margin-left:0.5em;
  display:list-item;
  list-style-position:inside;
  line-height:1;
  }


.level2
{
  margin-left:1em;
  text-align:center;
  border-left:0.5em solid #ccc;
  }
.level3
{
  margin:1em 0 3em 1em;
  text-align:center;
  border-right:0.3em solid #eee;
  border-bottom:0.3em solid #eee;
  border-left:0.3em solid #eee;
  
  }
.level4
{
  text-align:center;
  margin:0.7em 0 0 0;
  }
.level5
{
  text-align:center;
  }
.level6
{
  text-align:center;
  }


dl
{
  margin:0.5em 2em;
  }
dt
{
  border-bottom:solid 0.2em #fff;
  }
dt:before
{
/*  content:"【 ";*/
  color:#666;
  font-size:120%;
  }
dt:after
{
/*  content:" 】";*/
  color:#666;
  font-size:120%;
  }
dd
{
/*  margin:0 0 0 2em;*/
  padding:2px 0 0 30px;
  /*    display:list-item;
     list-style-image:url(../img/midnight/arrow_2.png);
     */
  position:relative;
  top:-1px;
  }
ul, ol
{
  margin: 1em 1em 1em 2.5em;
  line-height:1.2;
  }
ul ol, ul ul, ol ol, ol ul
{
  margin-top:0;
  }

ol > li
{
  list-style-image:none !important;
  }

* [title], .comment
{
  border-bottom:dotted 2px #999;
  }
abbr
{
  text-transform:uppercase;
  }

em
{
  font-style:normal;
/*  font-weight:600;*/
  color:#fff;
  }

strong
{
  font-style:normal;
  font-weight:800;
  color:#fee;
  }
ins
{

  }
del
{

  }
code
{
  border:dotted 1px #666;
  background:#333;
  padding:0.1em;
  }
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code
{
  border:none 0;
  background:transparent;
  padding:0;
  }
pre, input, select, textarea, button
{
  line-height:1;
  }

p
{
  margin:1em;
  color:#ccc;
  /*border-width:1px 0 1px 0;*/
  border-width:0 0 1px 0;
  border-color:#333;
  border-style:dashed;
  /*    padding:0.5em;*/
  }

blockquote
{
  border-width:0 0 0 2px;
  border-color:#333;
  border-style:dashed;
  line-height:1.4;
  margin-left:2em;
  margin-right:1em;
  }
p.source, p.badsource, div.source, div.badsource
{
  border-width:0;
  text-indent:0;
  width:85%;
  margin:3% auto;
  line-height:1;
  background:#030;
  color:#3f0;
  padding:1em;
  word-break:break-all;
  }
p.source em, p.badsource em, div.source em, div.badsource em
{
  color:#9f6;
  }
p.source strong, p.badsource strong, div.source strong, div.badsource strong
{
  color:#ff6;
  }
p.source code, p.badsource code, div.source code, div.badsource code
{
  border:none 0;
  background:transparent;
  }
.source
{
  word-break:break-all;
  }
hr
{
  display:none;
  }
div.example, div.sample
{
  background:#fff;
  color:#000;
  width:80%;
  margin:0.5em auto;
  border:dotted #999 1px;
  padding:0.3em;
  }
div.example *, div.sample *
{
  color:#000;
  border:none 0;
  }
caption
{
  text-align:center;
  }
caption:before
{
  content:"＜";
  color:#ccc;
  }
caption:after
{
  content:"＞";
  color:#ccc;
  }
table
{
  /*background:#666;*/
  margin:1em;
  border-spacing:0.3em;
  empty-cells:hide;
  /*       border:none 0;*/
  border:dotted 1px #999;
  }
th
{
  font-weight:bold;
  /*    border-top:1px solid #fff;
     border-left:1px solid #fff;*/
  padding:0.1em 0.3em 0.2em 0.2em;
  }
td
{
  font-size:90%;
  padding:0.1em 0.3em 0.2em 0.2em;
  /*    border:dotted 1px #999;*/
  }

/* トップ */
#titleDiv
{
  margin:0 0 3em 0;
  width:expression("20em");
  width:18em;
  float:left;
  padding:1em;
  background-color:#000;
  }
#titleDiv h1
{
  text-align:center;
  margin:0 0 0.5em 0;
  position:static;
  font-variant:small-caps;
  border-top-width:3em;
  }
#titleDiv h1:first-letter
{
  text-transform:capitalize;
  }
#titleDiv p
{
  
  }
#shortcutMenu
{
  position:absolute;
  z-index:2;
  left:1em;
  top:1em;
  width:18em;
  margin:0;
  padding:0;
  border:none 0;
  }
#shortcutMenu h2
{
  font-weight:400;
  display:block;
  list-style-image:none;
  position:static;
  font-size:90%;
  background:transparent;
  border:none 0;
  margin:0;
  padding:0.2em 0 0 0.2em;
  border:solid 1px #666;
  background:#000;
  width:auto;
  text-align:center;
  }
#shortcutMenu #shortcutMenuList
{
  margin:0;
  padding:0.5em;
  }
#shortcutMenu #shortcutMenuList li
{
  display:block;
  margin:0;
  padding:0;
  width:8em;
  float:left;
  line-height:1;
  height:1.2em;
  }
#shortcutMenu #shortcutMenuList a
{
  font-size:90%;
  text-decoration:none;
  display:block;
  background:#000;
  border-width: 0.1em 0.2em 0.1em 0.2em;
  border-color:#666;
  border-style:solid;
  padding:0.2em;
  text-align:center;
  position:relative;
  }
#shortcutMenu #shortcutMenuList a:hover
{
  background:#666;
  color:#fff;
  }
#information
{
  margin:0;
  padding: 1em 1em 3em 22em;
  border:none 0;
  }
#information h2
{
  position:static;
  text-align:right;
  list-style-position:inside;
  }
#information ul
{
  color:#ccc;
  min-height:200px;
  }
#information li
{
  text-align:right;
  list-style-image:none;
  list-style-type:none;
  }
#information  [title]
{
  border:none 0;
  }
#menu h2
{
  clear:left;
  }
#menu ul
{
  margin:0;
  padding:0;
  line-height:1.3;
  }
#menu li
{
  list-style-image:none;
  list-style-type:none;
  margin:0;
  padding:0;
  }
#menu li a
{
  /*    position:relative;
     */ display:block;
  font-size:140%;
  font-weight:700;
  margin:0.05em 0.2em;
  width:expression("100%");
  padding:0.2em;
  border:0.2em outset #888;
  background:#333;
  text-decoration:none;
  }
#menu li a:hover
{
  border-style:inset;
  background:#999;
  }
#submenu
{
  width:45%;
  width:expression("auto");
  float:left;
  float:expression("none");
  }
#communication
{
  width:45%;
  width:expression("auto");
  float:right;
  float:expression("none");
  }
#introduction
{
  clear:both;
  }
#copyright
{
  border:none 0;
  }
#copyright h3
{
  display:none;
  }

em
{
  color: pink;
  }

TABLE
{
  margin-left:2%;
  margin-right:2%;
  padding: 0em 1.5em 0em 1.5em;
  line-height: 120%;
  }

/* キーバインド */
kbd
{
  font-size: 100%;
  color: pink;
  /*        font-style: italic;*/
  }

div.tlevel1
{
  font: bold large/130%;
  text-align: left;
  margin-top: 2em;
  border-width: 0.1em 0.1em 0.1em 0.1em;
  border-style: solid solid;
  border-color: gray;
/*  padding: 0.4em 0;*/
  }

div.tlevel2
{
  font-size: 110%;
  line-height:130%;
  border-width: 0 0 0.1em 0;
/*  border-style: solid none;*/
  border-color: white;
  text-align: gray;
/*  margin-top: 2em;
  border-width: 0.1em 0.1em 0.1em 0.1em;
  border-style: solid solid;
  border-color: white;*/
/*  padding: 0.4em 0;*/
  }

div.tlevel3
{
  font-size: 110%;
  line-height:140%;
  }

div.tlevel4
{
  font-size: 110%;
  line-height:140%;
  }



